<h1>Register Page</h1> 

<form action="/Home/Register" method="post">
    <input type="text" name="Username" value="" placeholder="Username"/>
    <input type="text" name="Password" value="" placeholder="Password"/>
    <button type="submit">Register</button>
</form>